wordnet/xml/data.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="data">
      <attribute name="version">
        <data type="decimal"/>
      </attribute>
      <oneOrMore>
        <ref name="synsets"/>
      </oneOrMore>
    </element>
  </start>
  <define name="synsets">
    <element name="synsets">
      <attribute name="source"/>
      <optional>
        <attribute name="xml:base">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <oneOrMore>
        <!-- necessary because of xi:include -->
        <ref name="synset"/>
      </oneOrMore>
    </element>
  </define>
  <define name="synset">
    <element name="synset">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <attribute name="type">
        <choice>
          <value>n</value>
          <value>v</value>
          <value>a</value>
          <value>r</value>
          <value>s</value>
        </choice>
      </attribute>
      <element name="lex_filenum">
        <data type="integer"/>
      </element>
      <oneOrMore>
        <element name="word">
          <attribute name="lex_id">
            <data type="integer"/>
          </attribute>
          <text/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <element name="pointer">
          <attribute name="refs">
            <data type="IDREFS"/>
          </attribute>
          <optional>
            <attribute name="source">
              <data type="integer"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="target">
              <data type="integer"/>
            </attribute>
          </optional>
          <ref name="pointer-type"/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="frame">
          <attribute name="f_num">
            <data type="integer"/>
          </attribute>
          <optional>
            <attribute name="w_num">
              <data type="integer"/>
            </attribute>
          </optional>
        </element>
      </zeroOrMore>
      <oneOrMore>
        <choice>
          <element name="def">
            <text/>
          </element>
          <element name="example">
            <optional>
              <attribute name="author"/>
            </optional>
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="pointer-type">
    <choice>
      <value>Also see</value>
      <value>Antonym</value>
      <value>Attribute</value>
      <value>Cause</value>
      <value>Derivationally related form</value>
      <value>Derived from adjective</value>
      <value>Domain of synset - REGION</value>
      <value>Domain of synset - TOPIC</value>
      <value>Domain of synset - USAGE</value>
      <value>Domain of synset</value>
      <value>Entailment</value>
      <value>Hypernym</value>
      <value>Hyponym</value>
      <value>Instance Hypernym</value>
      <value>Instance Hyponym</value>
      <value>Member holonym</value>
      <value>Member meronym</value>
      <value>Member of this domain - REGION</value>
      <value>Member of this domain - TOPIC</value>
      <value>Member of this domain - USAGE</value>
      <value>Part holonym</value>
      <value>Part meronym</value>
      <value>Participle of verb</value>
      <value>Pertainym (pertains to noun)</value>
      <value>Similar to</value>
      <value>Substance holonym</value>
      <value>Substance meronym</value>
      <value>Verb Group</value>
    </choice>
  </define>
</grammar>
