wordnet/xml/exc.rnc

default namespace = ""
namespace xi = "http://www.w3.org/2001/XInclude"

start = element exc {
    attribute version { xsd:decimal },
    word-forms+
  }

word-forms = element word-forms {
    attribute source { text },
    attribute pos {"adj" | "noun" | "verb" | "adv"},
    attribute xml:base {xsd:anyURI}?, # necessary because of xi:include
    form+
}

form = element form {
    attribute infl {text},
    element base {text}+
}