wordnet/xml/sentidx-vrb.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
start = element verb-examples {
           attribute source{text},
           verb+
        }
verb = element verb {
           attribute lemma{text},
           attribute ss_type {"2"},
           attribute lex_filenum {twoDigits},
           attribute lex_id {twoDigits},
           element example {text}*
       }
twoDigits = xsd:string {pattern = "\d\d"}